<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard</h1>
    <div>
        <span>{{ .user_id }}</span>
        <span><a href="/logout">Logout</a></span>
        
    </div>
    <div>
        <h3>Post a Message</h3>
        <form action="/post-message" method="POST">
            <label for="text">Message:</label>
            <input type="text" id="text" name="text" required>
            <br>
            <button type="submit">Post Message</button>
        </form>
    </div>
    <div>
        <h3>Your Messages</h3>
        <ul>
            {{ range .Messages }}
                <li>{{ .Text }} ({{ .UserName }})</li>
            {{ end }}
        </ul>
    </div>
</body>
</html>
